server:
  port: 8085

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27027/backoffice
  mail:
    host: smtp.gmail.com
    port: 587
    username: yourEmail
    password: yourPassword
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8